.label {
  font-family: 'Gilroy';
  font-size: 16px;
  color: #575757;
  font-weight: 400;
}

.result {
  font-size: 54px;
  font-family: inherit;
}

@media (max-width: 320px) {
  .label {
    font-size: 14px;
  }
  
  .result {
    font-size: 22px;
  }
}
