.button {
  padding: 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 68px;
  color: white;
  background: var(--orange);
  border: none;
  border-radius: 40px;
  font-size: 1.875rem;
  line-height: 36px;
  font-family: inherit;
  transition: all 0.3s ease;
  cursor: pointer;
}

/* Pseudo */

.button:hover {
  background: var(--black);
}

.button:active {
  background: var(--grey);
}

.button:disabled {
  background: rgba(255, 149, 20, 0.4);
}

/* Media Queries */

@media (max-width: 768px) {
  .button {
    margin-bottom: 32px;
  }
}

@media (max-width: 320px) {
  .button {
    padding: 0 16px;
    min-height: 60px;
    font-size: 1.375rem;
    line-height: 20px;
  }
}
