@import url('./fonts.css');

:root {
  --orange: #ff9514;
  --grey: #575757;
  --black: #111111;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Nekst Black', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 48px;
  gap: 32px;
}

.inputs-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.results-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  margin-top: 22px;
  align-items: center;
}

/* Media Queries */

@media (max-width: 1120px) {
  .container {
    padding: 0 36px;
  }

  .inputs-box {
    grid-template-columns: 1fr;
  }

  .results-box {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }

  .results-box {
    grid-template-columns: 1fr;
  }
}
