.header {
  font-size: 54px;
}

/* Media Queries */

@media (max-width: 768px) {
  .header {
    font-size: 44px;
    margin-top: 32px;
  }
}

@media (max-width: 320px) {
  .header {
    font-size: 34px;
  }
}
